@font-face {
  font-family: 'Delta Ray Compact';
  src: url('./assets/fonts/deltaraycompact.ttf');
}

@font-face {
  font-family: 'Delta Ray Gradital';
  src: url('./assets/fonts/deltaraygradital.otf');
}

@font-face {
  font-family: 'Outrun Future';
  src: url('./assets/fonts/Outrun-future.otf');
}

@font-face {
  font-family: 'VCR Mono';
  src: url('./assets/fonts/vcr-mono.ttf');
}


.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #241734;
  /* #A8EB12 */
  background-image: url('./assets/magenta-grid.png');
  background-image: url('./assets/magenta-grid.png'), linear-gradient(to bottom, #241734, #1e132f, #180f2a, #130926, #0d0221);
  display: grid;
  place-items: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 110%;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.titleText {
  content: "hello"
}

.logoContainer {
  height: 325px;
  width: 100%;
}

.logoContainer > img {
  height: 100%;
  padding: 5px;
  width: 100%;
}

nav {
  backdrop-filter: blur(15px);
  background-image: url('./assets/skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 22vw;
  margin: 0 2vw;
  height: 90vh;
  position: relative;
  border-radius: 15px;
  border: 5px solid rgb(253,55,119);
  box-shadow: 0px 0px 10px 6px rgba(253,55,119,0.7);
}

nav > * {
  text-decoration: none;
}

.sidebarItem {
  list-style-type: none;
  backdrop-filter: blur(15px);
  width: 80%;
  border-radius: 5px;
  font-weight: 800;
  height: 6vh;
  margin: 3vh auto;
  font-size: 1.3em;
  line-height: 5vh;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(16,215,174, 0.7);
  border: 2px solid rgb(16,215,174);
  box-shadow: 0px 0px 10px 6px rgba(16,215,174, 0.7);
  font-family: 'Outrun Future';
  text-shadow: 1px 1px 2px #650d89, 0 0 15px #fd1d53, 0 0 5px #fd3777;
  color: #fff;
}

.sidebarItem:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(16,215,174, 1);
  box-shadow: 0 0 5px rgba(16,215,174, 1),
              0 0 25px rgba(16,215,174, 1),
              0 0 40px rgba(16,215,174, 1),
              0 0 70px rgba(16,215,174, 1);
  /* box-shadow: 0px 0px 10px 6px rgba(16,215,174, 1); */
  text-shadow: 1px 1px 2px #650d89, 0 0 30px #fd1d53, 0 0 5px #fd3777;
  transition: .75s;
}

.home-content {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  /* padding: 50px 0; */
  display: grid;
  place-items: center;
  /* border: 1px solid red; */
  position: relative;
}

.filterWrapper {
  height: 15vh;
  position: absolute;
  width: 70vw;
  backdrop-filter: blur(25px);
  z-index: 1;
  top: 0;
  right: -50px;
  display: grid;
  place-items: center;
  /* box-shadow: 10px 10px 10px transparent; */
}

.searchBar {
  font-size: 1.2em;
  height: 4vh;
  color: #000;
  background-color: #2de2e6;
  border: none;
  font-family: 'VCR Mono';
  outline: none;
  border-radius: 5px;
  border: 3px solid #2de2e6;
  box-shadow: 0px 0px 10px 6px rgba(45, 236, 230,0.7);
  width: 40vw;
}

.content {
  width: 60%;
  height: 80vh;
  margin: 0 auto;
  /* padding: 50px 0; */
  display: grid;
  place-items: center;
  /* border: 1px solid red; */
}

.tileWrapper {
  height: 80%;
  width: 100%;
  display: grid;
  place-items: center;
  /* margin-top: 10vh; */
  padding-top: 15vh;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5vh 5vw;
  overflow-y: scroll;
  scrollbar-width: none;
}

.tileWrapper::-webkit-scrollbar {
  display: none;
}

.tileCardWrapper {

  border: 3px solid #2de2e6;
  box-shadow: 0px 0px 10px 6px rgba(45, 236, 230,0.7);
  width: 12vw;
  background-image: url('./assets/waves.gif');
  background-size: cover;
  padding: 15px;
  height: 10vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  /* border: 1px solid red; */
}

.tileCardWrapper:hover {
  transition: 1s;
  transform: scale(1.05);
  border: 3px solid #2de2e6;
  box-shadow: 0px 0px 10px 6px rgba(45, 236, 230,0.7);
}

.tileCard {
  backdrop-filter: blur(15px) contrast(.8);
  height: 95%;
  text-align: center;
  display: grid;
  place-items: center;
  width: 95%;
  color: #fff;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #86A8E7, 0 0 25px #86A8E7, 0 0 5px #86A8E7;
  font-family: 'VCR Mono';
}


.green{
  text-shadow: 1px 1px 2px #CFFF04, 0 0 25px #CFFF04, 0 0 5px #CFFF04;
  color: #fff;
}

.red{
  text-shadow: 1px 1px 2px #FD1d53, 0 0 25px #FD1d53, 0 0 5px #FD1d53;
  color: #fff;
}

.statsDataContainer > h2 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.statsDataContainer > h3 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.gameboardContainer {
  /* color: rgba(256, 256, 256, 0.5); */
  /* padding: 2vh 2vw; */
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
  position: relative;
  padding: 3vh;
  box-shadow: 0px 0px 10px 6px rgba(253,55,119,0.7);
  /* background-color: red; */
  background-image: url('https://i.pinimg.com/originals/79/cf/38/79cf3892e16896cfc2f150b62fb8e56a.jpg');
  background-position: center;
  display: grid;
  place-items: center;
  transition: .5s;
}

.gameBoardBG {
  height: 95%;
  padding: 2vh;
  width: 95%;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: .5s;
}

h3 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.passageInputContainer {
  position: absolute;
  width: 95%;
  top: 10vh;
  height: 56vh;
}

.passageText {
  color: rgba(256, 256, 256, 0.5);
  font-family: 'VCR Mono';
  line-height: 20px;
  width: 90%;
  margin: 0 auto;
}

.passageInput {
  /* border: 1px solid red; */
  height: 100%;
  margin: 0 auto;
  width: 90%;
  line-height: 20px;
  background-color: transparent;
  font-family: 'VCR Mono';
  color: transparent;
  outline: none;
  border: none;
  resize: none;
}

.gameDetailsContainer {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
}

.gameDetailsConditional {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  width: 50%;
  justify-content: space-around;
}

.gameDetails {
  font-family: 'Outrun Future';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
  margin: 0;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
  font-size: 1.4em;
}

.accuracyContainer > span {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
  font-size: 1.0em;
}

.profile-scores {
  margin-top: 5vh;
  width: 100%;
}

.credentialContainer {
  width: 50vw;
  height: 50vh;
  /* padding: 5em 0; */
  border-radius: 15px;
  box-shadow: 0px 0px 10px 6px rgba(3, 233, 244,0.7);
  background-image: url('./assets/zoom.gif');
  background-size: cover;
  display: grid;
  place-items: center;
  /* backdrop-filter: blur(10px); */
}

.credentialContainerInner {
  height: 65%;
  width: 95%;
  padding: 4em 0;
  backdrop-filter: blur(10px);
}

.credentialContainerInner > * {
  margin: 0 auto;
}

.credentialContainerInner > h1 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 20px rgb(3, 233,244), 0 0 25px rgb(3, 233,244), 0 0 rgb(3, 233,244);
}

.credentialContainerInner > form {
  display: flex;
  width: 40vw;
  height: fit-content;
  flex-direction: column;
}

.credentialInput {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(3, 233, 244);
  filter: drop-shadow(0px 10px 1em rgba(3, 233, 244,0.7));
  /* border-radius: 10px; */
  margin: 2vh 0;
  font-size: 1.15em;
  padding-left: 1vw;
  outline: none;
  height: 5vh;
  font-family: 'VCR Mono';
  backdrop-filter: blur(7px);
  color: #fff;
  line-height: 5vh;
}

.credentialInput::placeholder {
  color: #fff;
}

.credentialSubmit {
  background-color: #03e9f4;
  height: 5vh;
  font-family: 'VCR Mono';
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  border: 2px solid rgba(3, 233, 244);
  width: 100%;
  margin: 2vh auto 0;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 1s;

  box-shadow: 0 0 1px #03e9f4,
              0 0 5px #03e9f4,
              0 0 7px #03e9f4,
              0 0 10px #03e9f4;
}

.credentialSubmit:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 40px #03e9f4,
              0 0 70px #03e9f4;
}

.sb_content {
  width: 60%;
  height: 90vh;
  margin: 0 auto;
}

.leaderBoardHeader {
  /* border: 1px solid red; */
  background-image: url('./assets/countach.gif');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 6px rgba(95,241,251,0.9);
  width: 100%;
  display: grid;
  place-items: center;
  height: 20vh;
}

.profile-header-wrapper {
  background-image: url('./assets/giphy-1.gif');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 6px rgba(255,180,188,1);
  width: 100%;
  display: grid;
  place-items: center;
  height: 20vh;
}

.profile-header {
  backdrop-filter: blur(7px);
  border-radius: 5px;
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-userName {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.profile-userStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leaderBoardHeaderInner {
  height: 70%;
  width: 95%;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  line-height: 13vh;
}

.leaderboardH1 {
  height: 100%;
  font-family: 'Outrun Future';
  text-shadow: 1px 1px 2px #650d89, 0 0 15px #fd1d53, 0 0 5px #fd3777;
  color: #fff;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: none;
  margin: none;

}

.scoreStatsScroll, .profileStatsScroll{
  height: 50vh;
  overflow-x: scroll;
  scrollbar-width: none;

}

.scoreStatsScroll::-webkit-scrollbar, .profileStatsScroll::-webkit-scrollbar {
  display: none;
}

.scoreStatsContainer, .scoreStatsWrapper, .profileStatWrapper {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  line-height: 4vh;
  margin: 2vh auto;
  border-radius: 10px;
}

.scoreStatsWrapper {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border: 3px solid rgb(95,241,251);
  box-shadow: 0px 0px 10px 6px rgba(95,241,251,0.5);
}

.profileStatWrapper {
  background-image: linear-gradient(to left, #ffb4bc, #f6adc7, #e7a9d2, #d1a7dd, #b5a7e4, #afa1e5, #a99be6, #a395e7, #c082db, #dc6bc3, #f251a1, #fd3777);
  border: 3px solid #ffb4bc;
  box-shadow: 0px 0px 10px 6px rgba(255,180,188,0.7);
}

.scoreStatsHeader {
  text-align: center;
  width: 11vw;
  font-family: 'Outrun Future';
  text-shadow: 1px 1px 2px #d16ba5, 0 0 15px #ba83ca, 0 0 5px #46eefa;
  color: #fff;
  font-size: 1.05em;
  border-radius: 3px;
  height: fit-content;
}

.scoreStats {
  text-align: center;
  width: 14vw;
  font-family: 'VCR Mono';
  color: #000;
  line-height: 5vh;
  height: 5vh;
}

.deleteBtn {
  background-color: transparent;
  height: 4vh;
  font-size: 2em;
  outline: none;
  border: none;
  width: 5vw;
  font-family: 'VCR Mono';
  color: #000;
  line-height: 5vh;
}

.passageFormWrapper {
  background-image: url('./assets/wip3out.gif');
  background-size: cover;
  width: 60%;
  height: 70vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  border: 1px solid red;
  position: relative;
  border: 5px solid rgb(255, 56, 100);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 6px rgba(255, 56, 100,0.7);
}

.passageFormInner {
  height: 97%;
  width: 97%;
  backdrop-filter: blur(25px);
  display: grid;
  place-items: center;
}

.passageForm > * {
  /* border: 1px solid white; */
  margin: 5px auto;
}

.passageTitleInput {
  background-color: transparent;
  /* border: 1px solid red; */
  height: 7vh;
  font-family: 'VCR Mono';
  /* text-transform: uppercase; */
  color: #fff;
  line-height: 7vh;
  outline: none;
  border: none;
  border-bottom: 5px solid rgb(255, 56, 100);
  font-size: 2em;
  /* padding-left: 15px; */
  width: 50vw;
}

.passageTextArea {
  background-color: transparent;
  /* border: 1px solid red; */
  height: 30vh;
  width: 50vw;
  font-family: 'VCR Mono';
  color: #fff;
  padding: 5px;
  backdrop-filter: blur(20px);
  border: none;
  background-color: rgb(255, 56, 100);
  border-radius: 2px;
  outline: none;
  /* opacity: 0.5; */
  color: #000;
  resize: none;
  box-shadow: 0 0 1px rgb(255, 56, 100),
              0 0 5px rgb(255, 56, 100),
              0 0 7px rgb(255, 56, 100),
              0 0 10px rgb(255, 56, 100);
}

.passageSubmit {
  background-color: rgb(255, 56, 100);
  height: 5vh;
  font-family: 'VCR Mono';
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  border: 2px solid rgb(255, 56, 100);
  width: 50vw;
  margin: 2vh auto 0;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 1s;


  box-shadow: 0 0 1px rgb(255, 56, 100),
              0 0 5px rgb(255, 56, 100),
              0 0 7px rgb(255, 56, 100),
              0 0 10px rgb(255, 56, 100);
}

.passageSubmit:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px rgb(255, 56, 100),
              0 0 25px rgb(255, 56, 100),
              0 0 40px rgb(255, 56, 100),
              0 0 70px rgb(255, 56, 100);
}

.errorMsg {
  /* border: 1px solid red; */
  margin: 15px auto 0;
}

/* here we go with media queries */
