@font-face {
  font-family: 'Delta Ray Compact';
  src: url('./assets/fonts/deltaraycompact.ttf');
}

@font-face {
  font-family: 'Delta Ray Gradital';
  src: url('./assets/fonts/deltaraygradital.otf');
}

@font-face {
  font-family: 'Outrun Future';
  src: url('./assets/fonts/Outrun-future.otf');
}

@font-face {
  font-family: 'VCR Mono';
  src: url('./assets/fonts/vcr-mono.ttf');
}


.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #241734;
  /* #A8EB12 */
  background-image: url('./assets/magenta-grid.png');
  background-image: url('./assets/magenta-grid.png'), linear-gradient(to bottom, #241734, #1e132f, #180f2a, #130926, #0d0221);
  display: grid;
  place-items: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 110%;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.logoContainer {
  height: 325px;
  width: 100%;
}

.logoContainer > img {
  height: 100%;
  padding: 5px;
  width: 100%;
}

nav {
  backdrop-filter: blur(10px);
  background-image: url('https://i.imgur.com/KCwAMdz_d.webp?maxwidth=728&fidelity=grand');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 22vw;
  margin: 0 2vw;
  height: 90vh;
  position: relative;
  border-radius: 15px;
  border: 5px solid rgb(253,55,119);
  box-shadow: 0px 0px 10px 6px rgba(253,55,119,0.7);
}

nav > * {
  text-decoration: none;
}

.sidebarItem {
  list-style-type: none;
  backdrop-filter: blur(15px);
  width: 80%;
  border-radius: 5px;
  font-weight: 800;
  height: 7vh;
  margin: 5vh auto;
  font-size: 1.5em;
  line-height: 7vh;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(16,215,174, 0.7);
  border: 2px solid rgb(16,215,174);
  box-shadow: 0px 0px 10px 6px rgba(16,215,174, 0.7);
  font-family: 'Outrun Future';
  text-shadow: 1px 1px 2px #650d89, 0 0 15px #fd1d53, 0 0 5px #fd3777;
  color: #fff;
}

.sidebarItem:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(16,215,174, 1);
  box-shadow: 0 0 5px rgba(16,215,174, 1),
              0 0 25px rgba(16,215,174, 1),
              0 0 40px rgba(16,215,174, 1),
              0 0 70px rgba(16,215,174, 1);
  /* box-shadow: 0px 0px 10px 6px rgba(16,215,174, 1); */
  text-shadow: 1px 1px 2px #650d89, 0 0 30px #fd1d53, 0 0 5px #fd3777;
  transition: .75s;
}

.content {
  width: 60%;
  height: 80vh;
  margin: 0 auto;
  /* padding: 50px 0; */
  display: grid;
  place-items: center;
  /* border: 1px solid red; */
}

.tileWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5vh 5vw;
  overflow-y: scroll;
}

.tileCardWrapper {
  backdrop-filter: blur(15px) contrast(.8);
  border: 3px solid #A8EB12;
  box-shadow: 0px 0px 10px 6px rgba(168, 235, 18,0.7);
  width: 12vw;
  padding: 15px;
  height: 10vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  /* border: 1px solid red; */
}

.tileCardWrapper:hover {
  transition: 1s;
  transform: scale(1.05);
  border: 3px solid #A8EB12;
  box-shadow: 0px 0px 10px 6px rgba(168, 235, 18,0.7);
}

.tileCard {
  height: 95%;
  text-align: center;
  display: grid;
  place-items: center;
  width: 95%;
  color: #fff;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #FF6C11, 0 0 25px #FF6C11, 0 0 5px #FF6C11;
  font-family: 'VCR Mono';
}


.green{
  text-shadow: 1px 1px 2px #CFFF04, 0 0 25px #CFFF04, 0 0 5px #CFFF04;
  color: #fff;
}

.red{
  text-shadow: 1px 1px 2px #FD1d53, 0 0 25px #FD1d53, 0 0 5px #FD1d53;
  color: #fff;
}

.filterWrapper {
  height: 5vh;
  margin: 20px auto;
}

.searchBar {
  font-size: 1.2em;
  height: 4vh;
  color: red;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #F9c80e;
  filter: drop-shadow(0 10px 1rem rgba(249, 200, 14,0.7));
  width: 35vw;
}

th, td {
  padding: 10px;
  color: white;
}

.profile-header-wrapper {
  /* background-image: url('./assets/wallpaper.jpg'); */
  /* background-size: cover;
  background-position: center; */
  background-image: linear-gradient(to right bottom, #541388, #44228a, #332b8b, #20328a, #023788);
  height: 30%;
}

.profile-header {
  backdrop-filter: blur(7px);
  box-shadow: 0px 0px 10px 6px rgba(253,55,119,0.7);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-userName {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.profile-userStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.statsDataContainer > h2 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.statsDataContainer > h3 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.gameboardContainer {
  color: rgba(256, 256, 256, 0.5);
  background-color: #241734;
  padding: 2vh 2vw;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 10px 6px rgba(253,55,119,0.7);
}

.passageTextContainer {
}

.passageInputContainer {
  position: absolute;
  width: 95%;
  top: 10vh;
  height: 56vh;
}

.passageText {
  font-family: 'VCR Mono';
  line-height: 20px;
  width: 90%;
  margin: 0 auto;
}

.passageInput {
  /* border: 1px solid red; */
  height: 100%;
  margin: 0 auto;
  width: 90%;
  line-height: 20px;
  background-color: transparent;
  font-family: 'VCR Mono';
  color: transparent;
  outline: none;
  border: none;
  resize: none;
}

.profile-scores {
  margin-top: 5vh;
  height: 70%;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  background-image: linear-gradient(to right bottom, #541388, #44228a, #332b8b, #20328a, #023788);
}

.table-container {
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
  border: none;
  border-collapse: collapse;
}

th {
  font-family: 'Outrun Future';
  color: #fff;
  text-shadow: 1px 1px 2px #650d89, 0 0 25px #fd1d53, 0 0 5px #fd3777;
}

.tableRow-data {
  height: 20px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #f9c80e, #fdb200, #ff9c00, #ff8500, #ff6c11);
  /* margin: 5px auto; */
}

td {
  border-radius: 5px;
  border: none;
  font-family: 'VCR Mono';
  color: #fff;
}

.credentialContainer {
  width: 50vw;
  height: fit-content;
  /* padding: 5em 0; */
  border-radius: 15px;
  box-shadow: 0px 0px 10px 6px rgba(3, 233, 244,0.7);
  background-image: url('https://www.lefthudson.com/wp-content/uploads/2019/11/retro-neon-background-fresh-synthwave-wallpaper-wallpapersafari-this-month-of-retro-neon-background.jpg');
  background-size: cover;
  /* backdrop-filter: blur(10px); */
}

.credentialContainerInner {
  height: 100%;
  width: 100%;
  padding: 5em 0;
  backdrop-filter: blur(7px);
  border-radius: 15px;
}

.credentialContainerInner > * {
  margin: 0 auto;
}

.credentialContainerInner > h1 {
  font-family: 'VCR Mono';
  color: #fff;
  text-shadow: 1px 1px 20px rgb(3, 233,244), 0 0 25px rgb(3, 233,244), 0 0 rgb(3, 233,244);
}

.credentialContainerInner > form {
  display: flex;
  width: 40vw;
  height: fit-content;
  flex-direction: column;
}

.credentialInput {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(3, 233, 244);
  filter: drop-shadow(0px 10px 1em rgba(3, 233, 244,0.7));
  /* border-radius: 10px; */
  margin: 2vh 0;
  font-size: 1.15em;
  padding-left: 1vw;
  outline: none;
  height: 5vh;
  font-family: 'VCR Mono';
  backdrop-filter: blur(7px);
  color: #fff;
  line-height: 5vh;
}

.credentialInput::placeholder {
  color: #fff;
}

.credentialSubmit {
  background-color: #03e9f4;
  height: 5vh;
  font-family: 'VCR Mono';
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  border: 2px solid rgba(3, 233, 244);
  width: 100%;
  margin: 2vh auto 0;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 1s;

  box-shadow: 0 0 1px #03e9f4,
              0 0 5px #03e9f4,
              0 0 7px #03e9f4,
              0 0 10px #03e9f4;
}

.credentialSubmit:hover {
  /* color: #000; */
  transform: scale(1.01);
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 40px #03e9f4,
              0 0 70px #03e9f4;
}
